@font-face {
  font-family: 'zen-icomoon';
  src:  url(/_next/static/9dcf631c541d7cda47078599557eeed5.eot);
  src:  url(/_next/static/9dcf631c541d7cda47078599557eeed5.eot#iefix) format('embedded-opentype'),
    url(/_next/static/a9406af1f16449cbb408caecb3c347d9.ttf) format('truetype'),
    url(/_next/static/7c94e6bb32cc085e6b85c4b32b666e8b.woff) format('woff'),
    url(/_next/static/e5b8a3a01773acc11e543d9fc33e7a38.svg#zen-icomoon) format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="zen-icon_"], [class*=" zen-icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'zen-icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zen-icon_ic_group--ask:before {
  content: "\E99B";
}
.zen-icon_ic_money-circle:before {
  content: "\E99C";
}
.zen-icon_ic_no-way-circle:before {
  content: "\E99D";
}
.zen-icon_ic_s-hotel:before {
  content: "\E99E";
}
.zen-icon_ic_zoom--minus:before {
  content: "\E99F";
}
.zen-icon_ic_zoom--plus:before {
  content: "\E9A0";
}
.zen-icon_ic_logout:before {
  content: "\E997";
}
.zen-icon_ic_send--reconfirmation:before {
  content: "\E998";
}
.zen-icon_ic_help-center:before {
  content: "\E996";
}
.zen-icon_ic_s-answerphone:before {
  content: "\E98F";
}
.zen-icon_ic_s-clicspot:before {
  content: "\E990";
}
.zen-icon_ic_s-groupon:before {
  content: "\E991";
}
.zen-icon_ic_s-oubruncher:before {
  content: "\E992";
}
.zen-icon_ic_s-tactill:before {
  content: "\E993";
}
.zen-icon_ic_s-weblib:before {
  content: "\E994";
}
.zen-icon_ic_s-wonderbox:before {
  content: "\E995";
}
.zen-icon_ic_src-lastable:before {
  content: "\E98D";
}
.zen-icon_ic_src-restopolitan:before {
  content: "\E98E";
}
.zen-icon_bank-refund:before {
  content: "\E98C";
}
.zen-icon_bank-accepted:before {
  content: "\E986";
}
.zen-icon_bank-ask:before {
  content: "\E987";
}
.zen-icon_bank-debited:before {
  content: "\E988";
}
.zen-icon_bank-refused:before {
  content: "\E989";
}
.zen-icon_bank-released:before {
  content: "\E98A";
}
.zen-icon_bank-waiting:before {
  content: "\E98B";
}
.zen-icon_ic_lock--open:before {
  content: "\E985";
}
.zen-icon_ic_copy:before {
  content: "\E981";
}
.zen-icon_ic_memo-list:before {
  content: "\E983";
}
.zen-icon_ic_s-arrived-waiting:before {
  content: "\E984";
}
.zen-icon_ic_help:before {
  content: "\E980";
}
.zen-icon_ic_customer--new:before {
  content: "\E97B";
}
.zen-icon_ic_google:before {
  content: "\E97C";
}
.zen-icon_ic_s-confirmed--waiting:before {
  content: "\E97D";
}
.zen-icon_ic_s-seated-check:before {
  content: "\E97E";
}
.zen-icon_ic_video:before {
  content: "\E97F";
}
.zen-icon_ic_actions:before {
  content: "\E97A";
}
.zen-icon_ic_calendar--check:before {
  content: "\E978";
}
.zen-icon_ic_calendar--update:before {
  content: "\E979";
}
.zen-icon_ic_info:before {
  content: "\E977";
}
.zen-icon_ic_color:before {
  content: "\E976";
}
.zen-icon_ic_android:before {
  content: "\E974";
}
.zen-icon_ic_apple:before {
  content: "\E975";
}
.zen-icon_ic_lock:before {
  content: "\E971";
}
.zen-icon_ic_src_phone:before {
  content: "\E972";
}
.zen-icon_ic_stripe:before {
  content: "\E973";
}
.zen-icon_ic_auto:before {
  content: "\E96F";
}
.zen-icon_ic_src-fairtrip:before {
  content: "\E970";
}
.zen-icon_ic_customers-new:before {
  content: "\E96A";
}
.zen-icon_ic_file:before {
  content: "\E96B";
}
.zen-icon_ic_import:before {
  content: "\E96C";
}
.zen-icon_ic_minus-input:before {
  content: "\E96D";
}
.zen-icon_ic_text:before {
  content: "\E96E";
}
.zen-icon_ic_src_sms:before {
  content: "\E969";
}
.zen-icon_ic_src_bimapp-text:before {
  content: "\E968";
}
.zen-icon_ic_money:before {
  content: "\E965";
}
.zen-icon_ic_s-confirmed-all:before {
  content: "\E966";
}
.zen-icon_ic_src_laddition:before {
  content: "\E967";
}
.zen-icon_ic_archive:before {
  content: "\E962";
}
.zen-icon_ic_memo:before {
  content: "\E963";
}
.zen-icon_ic_unarchive:before {
  content: "\E964";
}
.zen-icon_ic_web:before {
  content: "\E961";
}
.zen-icon_ic_blacklisted-circle:before {
  content: "\E958";
}
.zen-icon_ic_blacklisted:before {
  content: "\E959";
}
.zen-icon_ic_smiley-1:before {
  content: "\E95A";
}
.zen-icon_ic_group:before {
  content: "\E95B";
}
.zen-icon_ic_smiley-2:before {
  content: "\E95C";
}
.zen-icon_ic_smiley-3:before {
  content: "\E95D";
}
.zen-icon_ic_smiley-4:before {
  content: "\E95E";
}
.zen-icon_ic_vip-circle:before {
  content: "\E95F";
}
.zen-icon_ic_warning:before {
  content: "\E960";
}
.zen-icon_ic_company:before {
  content: "\E953";
}
.zen-icon_ic_csv:before {
  content: "\E954";
}
.zen-icon_ic_download:before {
  content: "\E955";
}
.zen-icon_ic_notif:before {
  content: "\E956";
}
.zen-icon_ic_pdf:before {
  content: "\E957";
}
.zen-icon_ic_sport_event:before {
  content: "\E952";
}
.zen-icon_ic_chart:before {
  content: "\E94A";
}
.zen-icon_ic_country:before {
  content: "\E951";
}
.zen-icon_ic_src_bimapp:before {
  content: "\E909";
}
.zen-icon_ic_src_guest_online:before {
  content: "\E913";
}
.zen-icon_ic_src_la_fourchette:before {
  content: "\E914";
}
.zen-icon_ic_src_lyon_resto:before {
  content: "\E917";
}
.zen-icon_ic_src_messenger:before {
  content: "\E919";
}
.zen-icon_ic_src_michelin:before {
  content: "\E91E";
}
.zen-icon_ic_src_tiller:before {
  content: "\E923";
}
.zen-icon_ic_src_zenchef:before {
  content: "\E924";
}
.zen-icon_ic_overtime:before {
  content: "\E930";
}
.zen-icon_ic_printer:before {
  content: "\E932";
}
.zen-icon_ic_googleplus:before {
  content: "\E905";
}
.zen-icon_ic_stopwatch:before {
  content: "\E946";
}
.zen-icon_eb_cvc:before {
  content: "\E92A";
}
.zen-icon_eb_date:before {
  content: "\E92C";
}
.zen-icon_eb_mail:before {
  content: "\E92D";
}
.zen-icon_ic_button-01:before {
  content: "\E900";
}
.zen-icon_ic_button-03:before {
  content: "\E915";
}
.zen-icon_uniE901:before {
  content: "\E901";
}
.zen-icon_uniE904:before {
  content: "\E904";
}
.zen-icon_uniE906:before {
  content: "\E906";
}
.zen-icon_uniE907:before {
  content: "\E907";
}
.zen-icon_uniE908:before {
  content: "\E908";
}
.zen-icon_ic_support:before {
  content: "\E619";
}
.zen-icon_ic_linkedin:before {
  content: "\F0E1";
}
.zen-icon_ic_navigation:before {
  content: "\E94B";
}
.zen-icon_ic_play:before {
  content: "\E94C";
}
.zen-icon_ic_waiting-list:before {
  content: "\E94D";
}
.zen-icon_ic_walkin:before {
  content: "\E94E";
}
.zen-icon_ic_warning2:before {
  content: "\E94F";
}
.zen-icon_ic_Youtube:before {
  content: "\E950";
}
.zen-icon_ic_circle:before {
  content: "\E948";
}
.zen-icon_ic_add:before {
  content: "\E927";
}
.zen-icon_ic_arrow-bottom:before {
  content: "\F063";
}
.zen-icon_ic_arrow-left:before {
  content: "\F060";
}
.zen-icon_ic_arrow-right:before {
  content: "\F061";
}
.zen-icon_ic_arrow-s_bottom:before {
  content: "\E90B";
}
.zen-icon_ic_arrow-s_left:before {
  content: "\E90E";
}
.zen-icon_ic_arrow-s_right:before {
  content: "\E90F";
}
.zen-icon_ic_arrow-s_top:before {
  content: "\E910";
}
.zen-icon_ic_arrow-top:before {
  content: "\F062";
}
.zen-icon_ic_bank:before {
  content: "\E90A";
}
.zen-icon_ic_birthday:before {
  content: "\E935";
}
.zen-icon_ic_bookings:before {
  content: "\E91C";
}
.zen-icon_ic_business:before {
  content: "\E936";
}
.zen-icon_ic_camera:before {
  content: "\E90D";
}
.zen-icon_ic_check:before {
  content: "\E947";
}
.zen-icon_ic_clock:before {
  content: "\E92B";
}
.zen-icon_ic_comment:before {
  content: "\E625";
}
.zen-icon_ic_customers:before {
  content: "\A911";
}
.zen-icon_ic_dashboard:before {
  content: "\E91D";
}
.zen-icon_ic_diner_romantique:before {
  content: "\E937";
}
.zen-icon_ic_duplicate:before {
  content: "\E903";
}
.zen-icon_ic_edit:before {
  content: "\E912";
}
.zen-icon_ic_event_pro:before {
  content: "\E938";
}
.zen-icon_ic_facebook:before {
  content: "\F09A";
}
.zen-icon_ic_filter:before {
  content: "\E918";
}
.zen-icon_ic_full:before {
  content: "\E902";
}
.zen-icon_ic_garden-party:before {
  content: "\E939";
}
.zen-icon_ic_get-phone:before {
  content: "\E945";
}
.zen-icon_ic_instagram:before {
  content: "\F16D";
}
.zen-icon_ic_like-s:before {
  content: "\F08A";
}
.zen-icon_ic_like:before {
  content: "\F004";
}
.zen-icon_ic_link:before {
  content: "\F0C1";
}
.zen-icon_ic_lists:before {
  content: "\E929";
}
.zen-icon_ic_menus:before {
  content: "\E928";
}
.zen-icon_ic_minus:before {
  content: "\E922";
}
.zen-icon_ic_newbkng:before {
  content: "\E942";
}
.zen-icon_ic_newsletters:before {
  content: "\E920";
}
.zen-icon_ic_pax:before {
  content: "\E93D";
}
.zen-icon_ic_phone:before {
  content: "\E608";
}
.zen-icon_ic_picture:before {
  content: "\F030";
}
.zen-icon_ic_pin:before {
  content: "\F041";
}
.zen-icon_ic_press:before {
  content: "\E93A";
}
.zen-icon_ic_preview:before {
  content: "\E949";
}
.zen-icon_ic_redo:before {
  content: "\E93F";
}
.zen-icon_ic_reply:before {
  content: "\F064";
}
.zen-icon_ic_reputation:before {
  content: "\E921";
}
.zen-icon_ic_restaurant:before {
  content: "\E92E";
}
.zen-icon_ic_reviews:before {
  content: "\E91F";
}
.zen-icon_ic_rotate_left:before {
  content: "\E943";
}
.zen-icon_ic_rotate_right:before {
  content: "\E944";
}
.zen-icon_ic_s-arrived:before {
  content: "\E92F";
}
.zen-icon_ic_s-canceled:before {
  content: "\E911";
}
.zen-icon_ic_s-confirmed:before {
  content: "\E931";
}
.zen-icon_ic_s-noshow:before {
  content: "\E933";
}
.zen-icon_ic_s-waiting:before {
  content: "\E934";
}
.zen-icon_ic_search:before {
  content: "\E941";
}
.zen-icon_ic_settings:before {
  content: "\E91A";
}
.zen-icon_ic_social:before {
  content: "\E916";
}
.zen-icon_ic_star-s:before {
  content: "\E601";
}
.zen-icon_ic_star:before {
  content: "\E60F";
}
.zen-icon_ic_table-1:before {
  content: "\F080";
}
.zen-icon_ic_table:before {
  content: "\E93E";
}
.zen-icon_ic_tag:before {
  content: "\F02B";
}
.zen-icon_ic_theme:before {
  content: "\E926";
}
.zen-icon_ic_trash:before {
  content: "\E90C";
}
.zen-icon_ic_twitter:before {
  content: "\F099";
}
.zen-icon_ic_undo:before {
  content: "\E940";
}
.zen-icon_ic_user:before {
  content: "\A943";
}
.zen-icon_ic_waitings:before {
  content: "\E925";
}
.zen-icon_ic_website:before {
  content: "\E91B";
}
.zen-icon_ic_wedding_birthday:before {
  content: "\E93B";
}
.zen-icon_ic_wedding:before {
  content: "\E93C";
}

@font-face {
  font-family: 'zen-icomoon';
  src:  url(/_next/static/44c94b58b64db19273f78fb26302dccc.eot);
  src:  url(/_next/static/44c94b58b64db19273f78fb26302dccc.eot#iefix) format('embedded-opentype'),
    url(/_next/static/8ef67ec0529b9e739dd58f5fb8629a08.ttf) format('truetype'),
    url(/_next/static/e88608a32112a6eb149c3ad59743eae4.woff) format('woff'),
    url(/_next/static/9e7a00546ef6b03406dbd07f2c0fe649.svg#zen-icomoon) format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="zen-icon_"], [class*=" zen-icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'zen-icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zen-icon_ic_check-circle:before {
  content: "\E9BD";
}
.zen-icon_ic_expand--horizontal:before {
  content: "\E9BE";
}
.zen-icon_ic_mic:before {
  content: "\E9BF";
}
.zen-icon_ic_notif-circle:before {
  content: "\E9C0";
}
.zen-icon_ic_src_mybeezbox:before {
  content: "\E9C1";
}
.zen-icon_ic_text--size:before {
  content: "\E9C2";
}
.zen-icon_ic_src_allomatch:before {
  content: "\E9BC";
}
.zen-icon_ic_megaphone:before {
  content: "\E9BB";
}
.zen-icon_ic_router:before {
  content: "\E9BA";
}
.zen-icon_ic_src_join-up:before {
  content: "\E9B9";
}
.zen-icon_ic_src_lightspeed:before {
  content: "\E9B4";
}
.zen-icon_ic_text--bold:before {
  content: "\E9B5";
}
.zen-icon_ic_text--color:before {
  content: "\E9B6";
}
.zen-icon_ic_text--italic:before {
  content: "\E9B7";
}
.zen-icon_ic_text--underline:before {
  content: "\E9B8";
}
.zen-icon_ic_src_amex:before {
  content: "\E9B3";
}
.zen-icon_ic_open-in-new:before {
  content: "\E9B2";
}
.zen-icon_ic_preview:before {
  content: "\E9AE";
}
.zen-icon_ic_send:before {
  content: "\E9AF";
}
.zen-icon_ic_sms-text:before {
  content: "\E9B0";
}
.zen-icon_ic_src_engare:before {
  content: "\E9B1";
}
.zen-icon_ic_number:before {
  content: "\E9AD";
}
.zen-icon_ic_src_ikentoo:before {
  content: "\E905";
}
.zen-icon_ic_src_opentable:before {
  content: "\E9A9";
}
.zen-icon_ic_src_pi-electronique:before {
  content: "\E9AA";
}
.zen-icon_ic_src_popina:before {
  content: "\E9AB";
}
.zen-icon_ic_src_tookki:before {
  content: "\E9AC";
}
.zen-icon_ic_event--hobbies:before {
  content: "\E9A6";
}
.zen-icon_ic_event--internal:before {
  content: "\E9A7";
}
.zen-icon_ic_s-businesstable:before {
  content: "\E9A8";
}
.zen-icon_ic_s-chatbot--messenger:before {
  content: "\E9A4";
}
.zen-icon_ic_s-chatbot--web:before {
  content: "\E9A5";
}
.zen-icon_ic_voicemail:before {
  content: "\E982";
}
.zen-icon_ic_pause:before {
  content: "\E999";
}
.zen-icon_ic_full-screen:before {
  content: "\E99A";
}
.zen-icon_ic_full-screen--out:before {
  content: "\E9A1";
}
.zen-icon_ic_comment--customer-sheet:before {
  content: "\E9A2";
}
.zen-icon_ic_comment--booking:before {
  content: "\E9A3";
}
.zen-icon_ic_group--ask:before {
  content: "\E99B";
}
.zen-icon_ic_money-circle:before {
  content: "\E99C";
}
.zen-icon_ic_no-way-circle:before {
  content: "\E99D";
}
.zen-icon_ic_s-hotel:before {
  content: "\E99E";
}
.zen-icon_ic_zoom--minus:before {
  content: "\E99F";
}
.zen-icon_ic_zoom--plus:before {
  content: "\E9A0";
}
.zen-icon_ic_logout:before {
  content: "\E997";
}
.zen-icon_ic_send--reconfirmation:before {
  content: "\E998";
}
.zen-icon_ic_help-center:before {
  content: "\E996";
}
.zen-icon_ic_s-answerphone:before {
  content: "\E98F";
}
.zen-icon_ic_s-clicspot:before {
  content: "\E990";
}
.zen-icon_ic_s-groupon:before {
  content: "\E991";
}
.zen-icon_ic_s-oubruncher:before {
  content: "\E992";
}
.zen-icon_ic_s-tactill:before {
  content: "\E993";
}
.zen-icon_ic_s-weblib:before {
  content: "\E994";
}
.zen-icon_ic_s-wonderbox:before {
  content: "\E995";
}
.zen-icon_ic_src-lastable:before {
  content: "\E98D";
}
.zen-icon_ic_src-restopolitan:before {
  content: "\E98E";
}
.zen-icon_bank-refund:before {
  content: "\E98C";
}
.zen-icon_bank-accepted:before {
  content: "\E986";
}
.zen-icon_bank-ask:before {
  content: "\E987";
}
.zen-icon_bank-debited:before {
  content: "\E988";
}
.zen-icon_bank-refused:before {
  content: "\E989";
}
.zen-icon_bank-released:before {
  content: "\E98A";
}
.zen-icon_bank-waiting:before {
  content: "\E98B";
}
.zen-icon_ic_lock--open:before {
  content: "\E985";
}
.zen-icon_ic_copy:before {
  content: "\E981";
}
.zen-icon_ic_memo-list:before {
  content: "\E983";
}
.zen-icon_ic_s-arrived-waiting:before {
  content: "\E984";
}
.zen-icon_ic_help:before {
  content: "\E980";
}
.zen-icon_ic_customer--new:before {
  content: "\E97B";
}
.zen-icon_ic_google:before {
  content: "\E97C";
}
.zen-icon_ic_s-confirmed--waiting:before {
  content: "\E97D";
}
.zen-icon_ic_s-seated-check:before {
  content: "\E97E";
}
.zen-icon_ic_video:before {
  content: "\E97F";
}
.zen-icon_ic_actions:before {
  content: "\E97A";
}
.zen-icon_ic_calendar--check:before {
  content: "\E978";
}
.zen-icon_ic_calendar--update:before {
  content: "\E979";
}
.zen-icon_ic_info:before {
  content: "\E977";
}
.zen-icon_ic_color:before {
  content: "\E976";
}
.zen-icon_ic_android:before {
  content: "\E974";
}
.zen-icon_ic_apple:before {
  content: "\E975";
}
.zen-icon_ic_lock:before {
  content: "\E971";
}
.zen-icon_ic_src_phone:before {
  content: "\E972";
}
.zen-icon_ic_stripe:before {
  content: "\E973";
}
.zen-icon_ic_auto:before {
  content: "\E96F";
}
.zen-icon_ic_src-fairtrip:before {
  content: "\E970";
}
.zen-icon_ic_customers-new:before {
  content: "\E96A";
}
.zen-icon_ic_file:before {
  content: "\E96B";
}
.zen-icon_ic_import:before {
  content: "\E96C";
}
.zen-icon_ic_minus-input:before {
  content: "\E96D";
}
.zen-icon_ic_text:before {
  content: "\E96E";
}
.zen-icon_ic_src_sms:before {
  content: "\E969";
}
.zen-icon_ic_src_bimapp-text:before {
  content: "\E968";
}
.zen-icon_ic_money:before {
  content: "\E965";
}
.zen-icon_ic_s-confirmed-all:before {
  content: "\E966";
}
.zen-icon_ic_src_laddition:before {
  content: "\E967";
}
.zen-icon_ic_archive:before {
  content: "\E962";
}
.zen-icon_ic_memo:before {
  content: "\E963";
}
.zen-icon_ic_unarchive:before {
  content: "\E964";
}
.zen-icon_ic_web:before {
  content: "\E961";
}
.zen-icon_ic_blacklisted-circle:before {
  content: "\E958";
}
.zen-icon_ic_blacklisted:before {
  content: "\E959";
}
.zen-icon_ic_smiley-1:before {
  content: "\E95A";
}
.zen-icon_ic_group:before {
  content: "\E95B";
}
.zen-icon_ic_smiley-2:before {
  content: "\E95C";
}
.zen-icon_ic_smiley-3:before {
  content: "\E95D";
}
.zen-icon_ic_smiley-4:before {
  content: "\E95E";
}
.zen-icon_ic_vip-circle:before {
  content: "\E95F";
}
.zen-icon_ic_warning:before {
  content: "\E960";
}
.zen-icon_ic_company:before {
  content: "\E953";
}
.zen-icon_ic_csv:before {
  content: "\E954";
}
.zen-icon_ic_download:before {
  content: "\E955";
}
.zen-icon_ic_notif:before {
  content: "\E956";
}
.zen-icon_ic_pdf:before {
  content: "\E957";
}
.zen-icon_ic_sport_event:before {
  content: "\E952";
}
.zen-icon_ic_chart:before {
  content: "\E94A";
}
.zen-icon_ic_country:before {
  content: "\E951";
}
.zen-icon_ic_src_bimapp:before {
  content: "\E909";
}
.zen-icon_ic_src_guest_online:before {
  content: "\E913";
}
.zen-icon_ic_src_la_fourchette:before {
  content: "\E914";
}
.zen-icon_ic_src_lyon_resto:before {
  content: "\E917";
}
.zen-icon_ic_src_messenger:before {
  content: "\E919";
}
.zen-icon_ic_src_michelin:before {
  content: "\E91E";
}
.zen-icon_ic_src_tiller:before {
  content: "\E923";
}
.zen-icon_ic_src_zenchef:before {
  content: "\E924";
}
.zen-icon_ic_overtime:before {
  content: "\E930";
}
.zen-icon_ic_printer:before {
  content: "\E932";
}
.zen-icon_ic_stopwatch:before {
  content: "\E946";
}
.zen-icon_eb_cvc:before {
  content: "\E92A";
}
.zen-icon_eb_date:before {
  content: "\E92C";
}
.zen-icon_eb_mail:before {
  content: "\E92D";
}
.zen-icon_ic_button-01:before {
  content: "\E900";
}
.zen-icon_ic_button-03:before {
  content: "\E915";
}
.zen-icon_uniE901:before {
  content: "\E901";
}
.zen-icon_uniE904:before {
  content: "\E904";
}
.zen-icon_uniE906:before {
  content: "\E906";
}
.zen-icon_uniE907:before {
  content: "\E907";
}
.zen-icon_uniE908:before {
  content: "\E908";
}
.zen-icon_ic_support:before {
  content: "\E619";
}
.zen-icon_ic_linkedin:before {
  content: "\F0E1";
}
.zen-icon_ic_navigation:before {
  content: "\E94B";
}
.zen-icon_ic_play:before {
  content: "\E94C";
}
.zen-icon_ic_waiting-list:before {
  content: "\E94D";
}
.zen-icon_ic_walkin:before {
  content: "\E94E";
}
.zen-icon_ic_warning2:before {
  content: "\E94F";
}
.zen-icon_ic_Youtube:before {
  content: "\E950";
}
.zen-icon_ic_circle:before {
  content: "\E948";
}
.zen-icon_ic_add:before {
  content: "\E927";
}
.zen-icon_ic_arrow-bottom:before {
  content: "\F063";
}
.zen-icon_ic_arrow-left:before {
  content: "\F060";
}
.zen-icon_ic_arrow-right:before {
  content: "\F061";
}
.zen-icon_ic_arrow-s_bottom:before {
  content: "\E90B";
}
.zen-icon_ic_arrow-s_left:before {
  content: "\E90E";
}
.zen-icon_ic_arrow-s_right:before {
  content: "\E90F";
}
.zen-icon_ic_arrow-s_top:before {
  content: "\E910";
}
.zen-icon_ic_arrow-top:before {
  content: "\F062";
}
.zen-icon_ic_bank:before {
  content: "\E90A";
}
.zen-icon_ic_birthday:before {
  content: "\E935";
}
.zen-icon_ic_bookings:before {
  content: "\E91C";
}
.zen-icon_ic_business:before {
  content: "\E936";
}
.zen-icon_ic_camera:before {
  content: "\E90D";
}
.zen-icon_ic_check:before {
  content: "\E947";
}
.zen-icon_ic_clock:before {
  content: "\E92B";
}
.zen-icon_ic_comment:before {
  content: "\E625";
}
.zen-icon_ic_customers:before {
  content: "\A911";
}
.zen-icon_ic_dashboard:before {
  content: "\E91D";
}
.zen-icon_ic_diner_romantique:before {
  content: "\E937";
}
.zen-icon_ic_duplicate:before {
  content: "\E903";
}
.zen-icon_ic_edit:before {
  content: "\E912";
}
.zen-icon_ic_event_pro:before {
  content: "\E938";
}
.zen-icon_ic_facebook:before {
  content: "\F09A";
}
.zen-icon_ic_filter:before {
  content: "\E918";
}
.zen-icon_ic_full:before {
  content: "\E902";
}
.zen-icon_ic_garden-party:before {
  content: "\E939";
}
.zen-icon_ic_get-phone:before {
  content: "\E945";
}
.zen-icon_ic_instagram:before {
  content: "\F16D";
}
.zen-icon_ic_like-s:before {
  content: "\F08A";
}
.zen-icon_ic_like:before {
  content: "\F004";
}
.zen-icon_ic_link:before {
  content: "\F0C1";
}
.zen-icon_ic_lists:before {
  content: "\E929";
}
.zen-icon_ic_menus:before {
  content: "\E928";
}
.zen-icon_ic_minus:before {
  content: "\E922";
}
.zen-icon_ic_newbkng:before {
  content: "\E942";
}
.zen-icon_ic_newsletters:before {
  content: "\E920";
}
.zen-icon_ic_pax:before {
  content: "\E93D";
}
.zen-icon_ic_phone:before {
  content: "\E608";
}
.zen-icon_ic_picture:before {
  content: "\F030";
}
.zen-icon_ic_pin:before {
  content: "\F041";
}
.zen-icon_ic_press:before {
  content: "\E93A";
}
.zen-icon_ic_eye:before {
  content: "\E949";
}
.zen-icon_ic_redo:before {
  content: "\E93F";
}
.zen-icon_ic_reply:before {
  content: "\F064";
}
.zen-icon_ic_reputation:before {
  content: "\E921";
}
.zen-icon_ic_restaurant:before {
  content: "\E92E";
}
.zen-icon_ic_reviews:before {
  content: "\E91F";
}
.zen-icon_ic_rotate_left:before {
  content: "\E943";
}
.zen-icon_ic_rotate_right:before {
  content: "\E944";
}
.zen-icon_ic_s-arrived:before {
  content: "\E92F";
}
.zen-icon_ic_s-canceled:before {
  content: "\E911";
}
.zen-icon_ic_s-confirmed:before {
  content: "\E931";
}
.zen-icon_ic_s-noshow:before {
  content: "\E933";
}
.zen-icon_ic_s-waiting:before {
  content: "\E934";
}
.zen-icon_ic_search:before {
  content: "\E941";
}
.zen-icon_ic_settings:before {
  content: "\E91A";
}
.zen-icon_ic_social:before {
  content: "\E916";
}
.zen-icon_ic_star-s:before {
  content: "\E601";
}
.zen-icon_ic_star:before {
  content: "\E60F";
}
.zen-icon_ic_table-1:before {
  content: "\F080";
}
.zen-icon_ic_table:before {
  content: "\E93E";
}
.zen-icon_ic_tag:before {
  content: "\F02B";
}
.zen-icon_ic_theme:before {
  content: "\E926";
}
.zen-icon_ic_trash:before {
  content: "\E90C";
}
.zen-icon_ic_twitter:before {
  content: "\F099";
}
.zen-icon_ic_undo:before {
  content: "\E940";
}
.zen-icon_ic_user:before {
  content: "\A943";
}
.zen-icon_ic_waitings:before {
  content: "\E925";
}
.zen-icon_ic_website:before {
  content: "\E91B";
}
.zen-icon_ic_wedding_birthday:before {
  content: "\E93B";
}
.zen-icon_ic_wedding:before {
  content: "\E93C";
}

.country-list {
    width: 273px;
    max-width: 273px;
    margin: 8px 0 0 -1px !important;
    border-radius: 2px;
    max-height: 228px;
    overflow: hidden;
  }

.country-list > li:first-child {
    margin-top: 10px;
}

.country-list > li:last-child {
    margin-bottom: 10px;
}

.country-list > .country {
    padding: 13px 11px !important;
    border-bottom: solid 1px #f3f2f3;
    font-size: 13px;
    width: 92%;
    margin: auto;
    display: flex;
    align-items: center;
}

    .country-list > .country > .highlight {
    background-color: white !important;
    font-weight: 500;
    }

    .country-list > .country:last-child {
    border-bottom: none;
    }

    .country-list > .country > .dial-code {
    float: right;
    }

    .intl-tel-input {
    width: 100% !important;
    }
    
    .intl-tel-input input[type=tel]:focus {
    outline: none;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.15);
    }
    
    .intl-tel-input:not(.allow-dropdown) .flag-container {
    right: auto;
    }

    .intl-tel-input:not(.allow-dropdown) .selected-flag .iti-flag {
    display: none;
    }

  .flag-container > input {
    color: #606060;
  }

  .iti-arrow {
    border: none !important;
    margin-top: -10px !important;
    right: 18px !important;
    font-size: 19px;

    top: 50% !important;
    left: 33px !important;
  }

  .iti-arrow:before {
    font-family: "zen-icomoon" !important;
    content: "\E90B";
    color: grey;
  }

  .divider {
    margin: -1px 0 7px 0 !important;
    border-bottom: 1px solid #ccc !important;
    border-top: 1px solid white !important;
  }

  .divider:before {
    content: none;
  }

  .country-list {
    overflow-y: scroll;
  }

  .country-list > .country > .country-name {
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #606060; 
  }

  .country-list > .country > .dial-code {
    float: none;
    flex-grow: 1;
    text-align: right;
  }

  .country-list > .country.highlight {
    background-color: #f7f7f7 !important;
    font-weight: 500;
  }

/*# sourceMappingURL=styles.aadb4360.chunk.css.map*/